@font-face {
    font-family: 'Bebas';
    src: url(./3979.ttf);
    font-weight: normal;
    font-style: normal;
}
.container{
    width: 400px;
    height: 400px;
    background-color: #f8f8f8;
    border: 10px solid #eaeaea;
    display: flex;
    position: relative;
    margin: 20% auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.license-plan {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-bottom: 2px solid #eaeaea;
}
.license-plan__option {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.license-plan__radio input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.license-plan__radio span {
    position: relative;
    display: flex;
    align-items: center;
}
.license-plan__radio span::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 3px solid #eaeaea;
    display: inline-block;
    border-radius: 50%;
    margin-right: 12px;
}
.license-plan__radio span::after {
    content: '';
    left: 8px;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    margin-right: 12px;
    background-color: #4b7288;
    opacity: 0;
}
.license-plan__radio input[type="radio"]:checked +span::after {
    opacity: 1;
}
.font {
    font-family: 'Bebas';
    color: #6c6c6c;
}
.option {
    color: #6c6c6c;
}
.numder-license {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
   border-bottom: 2px solid #eaeaea;
}
.numder-license__label {
    margin-right: 10PX;
}
.numder-license__select {
    height: 30px;
    width: 50px;
    border: 1px solid blue;
}
.total {
    display: flex;
    flex-direction: column;
}
.total__label {
    font-size: 20px;
}
.total__result {
    color: #4b7288;
    font-size: 20px;
}
.total__container {
    display: flex;
    justify-content: center;
    padding-bottom: 15px; 
}
.total__result_currency {
    font-size: 14px;
}
.total__button {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #37a742;
    color: white;
    margin-bottom: 40px;
}
.total__result_select {
   height: 45px;
   color: #4b7288;
   display: flex;
   justify-content: center;
}